<header class="shadow-sm ">
  <nav class="navbar navbar-dark" style="background-color: #0d6efd;">
    <div class="container-fluid d-flex align-items-center justify-content-between py-2">
      <a class="navbar-brand fw-bold text-white" href="#">
        E-Commerce <i class="bi bi-discord"></i>
      </a>
      <form class="d-flex align-items-center flex-grow-1 mx-3 search-container" style="max-width: 600px;">
        <input class="form-control border-0 rounded-start" type="search" placeholder="Search products..."
          [(ngModel)]="searchTerm" (keyup.enter)="searchProducts()" name="searchTerm">
        <button class="btn btn-white text-primary border-0 rounded-end search-icon" type="submit"
          (click)="searchProducts()">
          <i class="bi bi-search"></i>
        </button>
      </form>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-light text-primary me-3 fw-semibold" data-bs-toggle="modal"
          data-bs-target="#myModal">
          Login
        </button>
        <div class="modal fade" id="myModal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content border-0 shadow-lg">
              <div class="modal-header bg-primary text-white">
                <h5 class="modal-title fw-bold">Login Page</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                  <div class="mb-3">
                    <label for="email" class="form-label fw-semibold">E-mail</label>
                    <input type="email" id="email" class="form-control" formControlName="email"
                      placeholder="Enter your email" />
                    @if (loginForm.get("email")?.invalid && loginForm.get("email")?.touched) {
                    @if (loginForm.get("email")?.errors?.['required']) {
                    <div class="text-danger small mt-1">Email is required.</div>
                    } @else if (loginForm.get("email")?.errors?.['email']) {
                    <div class="text-danger small mt-1">Enter a valid email.</div>
                    }}
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label fw-semibold">Password</label>
                    <input type="password" id="password" class="form-control" formControlName="password"
                      placeholder="Enter your password" />
                    @if (loginForm.get("password")?.invalid && loginForm.get("password")?.touched) {
                    @if (loginForm.get("password")?.errors?.['required']) {
                    <div class="text-danger small mt-1">Password is required.</div>
                    } @else if (loginForm.get("password")?.errors?.['minlength']) {
                    <div class="text-danger small mt-1">Password is incorrect.</div>
                    }}
                  </div>
                  <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
              </div>
              <div class="modal-footer bg-light">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown me-3">
          <a class="dropdown-toggle text-white fw-bold text-decoration-none" href="#" role="button"
            data-bs-toggle="dropdown">More</a>
          <ul class="dropdown-menu dropdown-menu-end shadow-sm">
            <li><a class="dropdown-item" href="#">Help</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
          </ul>
        </div>
        <div class="offcanvas offcanvas-end transition" id="demo">
          <div class="offcanvas-header border-bottom p-4 bg-light">
            <h5 class="offcanvas-title text-primary fw-bold">Your Cart <i class="bi bi-cart-check-fill"></i></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body d-flex flex-column ">
            <div class="card border-0 shadow-sm mb-3 ">
              @for (carts of cart; track carts.id) {
              <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <img src="{{ carts.image }}" alt="product1" class="img-fluid rounded-3 shadow-sm me-3"
                    style="height:70px; width:70px; object-fit:cover;" />
                  <div>
                    <p class="fw-semibold mb-0">{{ carts.name | slice:0:20 }}</p>
                    <small class="text-primary fw-semibold">{{ (carts.price * carts.quantity) | currency :
                      "USD"}}</small>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <button type="button" class="btn btn-outline-white me-2" (click)="decreaseQty(carts)">
                    <i class="bi bi-dash-circle text-primary"></i>
                  </button>

                  <span class="fw-semibold">{{carts.quantity}}</span>

                  <button type="button" class="btn btn-outline-white ms-2" (click)="increaseQty(carts)">
                    <i class="bi bi-plus-circle text-primary"></i>
                  </button>
                </div>
              </div>}
            </div>
          </div>
          <div class="offcanvas-footer mt-auto  border-top py-3 bg-light">
            <div class="d-flex justify-content-end mt-4 pe-4">
              <h5 class="fw-bold text-primary"> Total : {{ calculateTotal() | currency }}</h5>
            </div>
            <div class="mt-auto d-flex justify-content-around pt-3 border-top">
              <button type="button" class="btn btn-primary" routerLink="/cartpage">Go To Cart</button>
              <button type="button" class="btn btn-success" routerLink="/purchasepage">Buy Now</button>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-primary text-white fw-bold" data-bs-toggle="offcanvas" data-bs-target="#demo">
          <i class="bi bi-cart3"></i> Cart
        </button>
      </div>
    </div>
  </nav>
</header>

<section class="py-5">
  <div class="container">
    @if (product) {
    <div class="product-wrapper shadow-sm">
      <div class="row g-4">
        <div class="col-lg-6 text-center">
          <img [src]="product.thumbnail" class="product-img mb-3 img-fluid">
          @if (product.images?.length > 0) {
          <div class="thumbs d-flex gap-2 justify-content-center">
            @for (img of product.images; track img) {
            <img [src]="img" style="width:80px; height:80px; object-fit:cover; border-radius:6px;">
            }
          </div>
          }
        </div>
        <div class="col-lg-6">
          <h2 class="page-title mb-2">{{ product.title }}</h2>
          <div class="mb-3">
            <i class="bi bi-star-fill text-warning"></i>
            <span class="text-muted ms-2">({{ product.rating }})</span>
          </div>
          <div class="mb-3">
            <span class="price">{{ product.price |currency}}</span>
            @if (product.discountPercentage) {
            <span class="old-price ms-2">
              {{ product.price + (product.price * product.discountPercentage / 100) | number:'1.0-0' | currency: "USD"}}
            </span>
            }
          </div>
          <span class="badge bg-success mb-3">{{ product.brand }}</span>
          <p class="mb-4 text-muted">{{ product.description }}</p>
          <div class="d-flex gap-3 flex-wrap mb-4">
            <button class="btn btn-primary" (click)="addToCart(product)">
              <i class="bi bi-cart-plus me-1"></i> Add to Cart
            </button>
            <!-- <button class="btn btn-outline-secondary">
                <i class="bi bi-heart me-1"></i> Wishlist
              </button> -->
          </div>
          <div class="row g-3 mt-4">
            <div class="col-6 col-md-4">
              <div class="feature text-center">
                <i class="bi bi-box fs-4 text-dark fw-bold"></i>
                <p class="mb-0 mt-1">{{ product.category }}</p>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="feature text-center">
                <i class="bi bi-percent fs-4 text-primary fw-bold"></i>
                <p class="mb-0 mt-1 fw-semibold">{{ product.discountPercentage }}% off</p>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="feature text-center">
                <i class="bi bi-bootstrap-reboot fs-4 text-primary fw-bold"></i>
                <p class="mb-0 mt-1">{{ product.returnPolicy }} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-1 g-5">
        <div class="col-md-6">
          <h5 class="fw-bold mb-3">Product Description</h5>
          <p class="text-muted">{{ product.description }}</p>
        </div>
        <div class="col-md-6">
          <h5 class="fw-bold mb-3">Customer Reviews</h5>
          @if (product.reviews?.length > 0) {
          @for (review of product.reviews; track review) {
          <div class="review-box mb-3">
            <strong>{{ review.reviewerName }}</strong><br>
            <span class="text-warning small">{{ review.rating }}★</span>
            <p class="small mb-0">{{ review.comment }}</p><br>
            <p class="small mb-0"><em>{{ review.date }}</em></p>
          </div>
          }
          } @else {
          <p class="text-muted">No reviews yet.</p>
          }
        </div>
      </div>
    </div>
    }
  </div>
</section>

<footer class="py-5 bg-light  border-top">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-6">
        <h3 class=" fw-bold text-primary ">E-Commerce <i class="bi bi-discord"></i></h3>
        <div class="d-flex gap-3 mt-3">
          <a href="https://www.facebook.com/aseem.aselah/" class="text-dark fs-5"><i class="bi bi-facebook"></i></a>
          <a href="https://x.com/" class="text-dark fs-5"><i class="bi bi-twitter-x"></i></a>
          <a href="https://www.instagram.com/" class="text-dark fs-5"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <h6 class="fw-bold mb-3">COMPANY</h6>
        <ul class="list-unstyled">
          <li><a class="text-dark d-block mb-2" routerLink="/about">About Us</a></li>
          <li><a class="text-dark d-block mb-2" routerLink="/contact">Contact Us</a></li>
          <li><a class="text-dark d-block mb-2" routerLink="/developer">Developer Information</a></li>
          <li><a class="text-dark d-block mb-2" routerLink="/privacypolicy">Privacy Policy</a></li>
          <li><a class="text-dark d-block mb-2" routerLink="/terms">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6">
        <h6 class="fw-bold mb-3">HELP </h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-dark d-block mb-2" routerLink="/myaccount">My Account</a></li>
          <li><a href="#" class="text-dark d-block mb-2" routerLink="/myorder">My Orders</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h6 class="fw-bold mb-3">INFORMATION</h6>
        <p class="mb-2">
          <i class="bi bi-telephone me-2"></i> Call Us: 9037432518
        </p>
        <p class="mb-2">
          <i class="bi bi-geo-alt me-2"></i> Address: Calicut
        </p>
        <p class="mb-3">
          <i class="bi bi-envelope me-2"></i> ecommerce@gmail.com
        </p>
      </div>
    </div>
  </div>
</footer>