<app-navbar></app-navbar>

<div id="autoplay" class="carousel slide container-fluid pt-3 responsive " data-bs-ride="carousel">
  <div class="carousel-inner" style="height: 250px;">
    <div class="carousel-item active">
      <img src="/assets/image5.png" class="d-block w-100" style="object-fit:scale-down; height:250px;" alt="slide1" />
    </div>
    <div class="carousel-item">
      <img src="/assets/image4.png" class="d-block w-100" style="object-fit:scale-down; height: 250px;" alt="slide2" />
    </div>
    <div class="carousel-item">
      <img src="/assets/image6.png" class="d-block w-100" style="object-fit:scale-down; height:250px;" alt="slide3" />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#autoplay" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next " type="button" data-bs-target="#autoplay" data-bs-slide="next">
    <span class="carousel-control-next-icon "></span>
  </button>
</div>

<section class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-5 fw-bold text-primary">Shop by Category</h2>
    <div class="row g-4 justify-content-center">
      @for (category of categories; track category.id) {
      <div class="col-6 col-md-4 col-lg-2 category-card" (click)="goToCategory(category)">
        <div class="card border-0 shadow-sm h-100 text-center hover-shadow transition">
          <div class="card-body">
            <div
              class="rounded-circle bg-primary bg-opacity-10 text-primary d-flex align-items-center justify-content-center mx-auto mb-3"
              style="width:70px; height:70px;">
              <i class="bi bi-bag-check-fill fs-3"></i>
            </div>
            <h5 class="fw-semibold text-dark text-capitalize">{{ category.name }}</h5>
          </div>
        </div>
      </div>
      }
      @empty {
      <div class="spinner-border text-primary"></div>
      }
    </div>
  </div>
</section>
<!-- <section class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-5 fw-bold text-primary">Category Name</h2>
    <div class="row g-4 justify-content-start">
      @for (p of products; track p.id) {
      <div class="col-6 col-md-4 col-lg-3 category-card">
        <div class="card border-0 shadow-sm h-100 text-center ">
          <div class="card-body border">
            <div
              class=" bg-white bg-opacity-10 text-primary d-flex align-items-center justify-content-center mx-auto mb-3"
              style="width:250px; height:250px;">
              <img [src]="p.image" alt="{{ p.title }}" class="img-fluid" style="max-height:200px; max-width:200px;" />
            </div>
            <h5 class="fw-semibold text-dark text-capitalize">{{ p.name }}</h5>
            <span class="fw-semiold text-dark">{{p.brand}}</span>
          </div>
          <div class="card-footer bg-white border-0 d-flex justify-content-end align-items-center gap-3">
            <span class="fw-semiold text-dark"><del>{{ p.price | currency : "USD"}}</del></span>
            <h5 class="fw-bold text-primary">{{p.price *(p.discount / 100) | currency: "USD"}}</h5>
          </div>
          <div class="card-footer bg-white border-0 d-flex justify-content-end align-items-center gap-2">
            <span class="fw-semiold text-warning">{{p.rating}}</span>
            <i class="bi bi-star-fill text-warning"></i>
          </div>
          <button type="button" class="btn btn-sm btn-primary " (click)="addToCart(p)">
            <i class="bi bi-cart-plus-fill"></i> Add to Cart
          </button>
        </div>
      </div>
      }
      @empty {
      <div class="spinner-border text-primary"></div>
      }
    </div>
  </div>
</section> -->

<app-footer></app-footer>