<header class="shadow-sm ">
  <nav class="navbar navbar-dark" style="background-color: #0d6efd;">
    <div class="container-fluid d-flex align-items-center justify-content-between py-2">
      <a class="navbar-brand fw-bold text-white" href="#">
        E-Commerce <i class="bi bi-discord"></i>
      </a>

      <form class="d-flex align-items-center flex-grow-1 mx-3 search-container" style="max-width: 600px;">
        <input class="form-control border-0 rounded-start" type="search" placeholder="Search products..."
          [(ngModel)]="searchTerm" (keyup.enter)="searchProducts()" name="searchTerm" />
        <button class="btn btn-light text-primary border-0 rounded-end search-icon" type="submit"
          (click)="searchProducts()">
          <i class="bi bi-search"></i>
        </button>
      </form>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-light text-primary me-3 fw-semibold" data-bs-toggle="modal"
          data-bs-target="#myModal">
          Login
        </button>
        <div class="modal fade" id="myModal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content border-0 shadow-lg">
              <div class="modal-header bg-primary text-white">
                <h5 class="modal-title fw-bold">Login Page</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                  <div class="mb-3">
                    <label for="email" class="form-label fw-semibold">E-mail</label>
                    <input type="email" id="email" class="form-control" formControlName="email"
                      placeholder="Enter your email" />
                    @if (loginForm.get("email")?.invalid && loginForm.get("email")?.touched) {
                    @if (loginForm.get("email")?.errors?.['required']) {
                    <div class="text-danger small mt-1">Email is required.</div>
                    } @else if (loginForm.get("email")?.errors?.['email']) {
                    <div class="text-danger small mt-1">Enter a valid email.</div>
                    }}
                  </div>

                  <div class="mb-3">
                    <label for="password" class="form-label fw-semibold">Password</label>
                    <input type="password" id="password" class="form-control" formControlName="password"
                      placeholder="Enter your password" />
                    @if (loginForm.get("password")?.invalid && loginForm.get("password")?.touched) {
                    @if (loginForm.get("password")?.errors?.['required']) {
                    <div class="text-danger small mt-1">Password is required.</div>
                    } @else if (loginForm.get("password")?.errors?.['minlength']) {
                    <div class="text-danger small mt-1">Password is incorrect.</div>
                    }}
                  </div>

                  <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
              </div>
              <div class="modal-footer bg-light">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="dropdown me-3">
          <a class="dropdown-toggle text-white fw-bold text-decoration-none" href="#" role="button"
            data-bs-toggle="dropdown">More</a>
          <ul class="dropdown-menu dropdown-menu-end shadow-sm">
            <li><a class="dropdown-item" href="#">Help</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
          </ul>
        </div>

        <div class="offcanvas offcanvas-end" id="demo">
          <div class="offcanvas-header border-bottom bg-light py-4">
            <h5 class="offcanvas-title text-primary fw-bold">Your Cart <i class="bi bi-cart-check-fill"></i></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
          </div>

          <div class="offcanvas-body d-flex flex-column">
            <div class="card border-0 shadow-sm mb-3 ">
              @for (carts of cart; track carts.id) {
              <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <img src="{{ carts.image }}" alt="product1" class="img-fluid rounded-3 shadow-sm me-3"
                    style="height:70px; width:70px; object-fit:cover;" />

                  <div>
                    <p class="fw-bold mb-0">{{ carts.name | slice:0:20 }}</p>
                    <small class="fw-bold text-primary ">{{ (carts.price * carts.quantity) * (carts.discount / 100) | currency }} Rs</small>
                  </div>
                </div>

                <div class="d-flex align-items-center">
                  <button type="button" class="btn btn-outline-white me-2" (click)="decreaseQty(carts)">
                    <i class="bi bi-dash-circle text-primary"></i>
                  </button>

                  <span class="fw-semibold">{{carts.quantity}}</span>

                  <button type="button" class="btn btn-outline-white ms-2" (click)="increaseQty(carts)">
                    <i class="bi bi-plus-circle text-primary"></i>
                  </button>
                </div>
              </div>}
            </div>
          </div>
          <div class="offcanvas-footer mt-auto  border-top py-3 bg-light">
            <div class="d-flex justify-content-end mt-2 sticky-top pe-4">
              <h5 class="fw-bold text-primary ">Total: {{ calculateTotal() | currency}}</h5>
            </div>
            <div class="mt-auto d-flex justify-content-around pt-3 border-top">
              <button type="button" class="btn btn-primary" routerLink="/cartpage">Go To Cart</button>
              <button type="button" class="btn btn-success" routerLink="/purchasepage">Buy Now</button>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-primary text-white fw-bold" data-bs-toggle="offcanvas" data-bs-target="#demo">
          <i class="bi bi-cart3"></i> Cart
        </button>
      </div>
    </div>
  </nav>
</header>
<div id="autoplay" class="carousel slide container-fluid pt-3 responsive " data-bs-ride="carousel">
  <div class="carousel-inner" style="height: 250px;">
    <div class="carousel-item active">
      <img src="/assets/image5.png" class="d-block w-100" style="object-fit:scale-down; height:250px;" alt="slide1" />
    </div>
    <div class="carousel-item">
      <img src="/assets/image4.png" class="d-block w-100" style="object-fit:scale-down; height: 250px;" alt="slide2" />
    </div>
    <div class="carousel-item">
      <img src="/assets/image6.png" class="d-block w-100" style="object-fit:scale-down; height:250px;" alt="slide3" />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#autoplay" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next " type="button" data-bs-target="#autoplay" data-bs-slide="next">
    <span class="carousel-control-next-icon "></span>
  </button>
</div>

<section class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-5 fw-bold text-primary">Shop by Category</h2>
    <div class="row g-4 justify-content-center">
      @for (category of categories; track category.id) {
      <div class="col-6 col-md-4 col-lg-2 category-card" (click)="goToCategory(category)">
        <div class="card border-0 shadow-sm h-100 text-center hover-shadow transition">
          <div class="card-body">
            <div
              class="rounded-circle bg-primary bg-opacity-10 text-primary d-flex align-items-center justify-content-center mx-auto mb-3"
              style="width:70px; height:70px;">
              <i class="bi bi-bag-check-fill fs-3"></i>
            </div>
            <h5 class="fw-semibold text-dark text-capitalize">{{ category.name }}</h5>
          </div>
        </div>
      </div>
      }
      @empty {
      <div class="spinner-border text-primary"></div>
      }
    </div>
  </div>
</section>
<!-- <section class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-5 fw-bold text-primary">Category Name</h2>
    <div class="row g-4 justify-content-start">
      @for (p of products; track p.id) {
      <div class="col-6 col-md-4 col-lg-3 category-card">
        <div class="card border-0 shadow-sm h-100 text-center ">
          <div class="card-body border">
            <div
              class=" bg-white bg-opacity-10 text-primary d-flex align-items-center justify-content-center mx-auto mb-3"
              style="width:250px; height:250px;">
              <img [src]="p.image" alt="{{ p.title }}" class="img-fluid" style="max-height:200px; max-width:200px;" />
            </div>
            <h5 class="fw-semibold text-dark text-capitalize">{{ p.name }}</h5>
            <span class="fw-semiold text-dark">{{p.brand}}</span>
          </div>
          <div class="card-footer bg-white border-0 d-flex justify-content-end align-items-center gap-3">
            <span class="fw-semiold text-dark"><del>{{ p.price | currency : "USD"}}</del></span>
            <h5 class="fw-bold text-primary">{{p.price *(p.discount / 100) | currency: "USD"}}</h5>
          </div>
          <div class="card-footer bg-white border-0 d-flex justify-content-end align-items-center gap-2">
            <span class="fw-semiold text-warning">{{p.rating}}</span>
            <i class="bi bi-star-fill text-warning"></i>
          </div>
          <button type="button" class="btn btn-sm btn-primary " (click)="addToCart(p)">
            <i class="bi bi-cart-plus-fill"></i> Add to Cart
          </button>
        </div>
      </div>
      }
      @empty {
      <div class="spinner-border text-primary"></div>
      }
    </div>
  </div>
</section> -->

<footer class="py-5 bg-light  border-top">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-6">
        <h3 class=" fw-bold text-primary ">E-Commerce <i class="bi bi-discord"></i></h3>
        <div class="d-flex gap-3 mt-3">
          <a href="https://www.facebook.com/" class="text-dark fs-5"><i class="bi bi-facebook"></i></a>
          <a href="https://x.com/" class="text-dark fs-5"><i class="bi bi-twitter-x"></i></a>
          <a href="https://www.instagram.com/" class="text-dark fs-5"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <h6 class="fw-bold mb-3">COMPANY</h6>
        <ul class="list-unstyled">
          <li><a class="text-dark d-block mb-2" routerLink="/about">About Us</a></li>
          <li><a class="text-dark d-block mb-2" routerLink="/contact">Contact Us</a></li>
          <li><a class="text-dark d-block mb-2" routerLink="/developer">Developer Information</a></li>
          <li><a class="text-dark d-block mb-2" routerLink="/privacypolicy">Privacy Policy</a></li>
          <li><a class="text-dark d-block mb-2" routerLink="/terms">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6">
        <h6 class="fw-bold mb-3">HELP </h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-dark d-block mb-2" routerLink="/myaccount">My Account</a></li>
          <li><a href="#" class="text-dark d-block mb-2" routerLink="/myorder">My Orders</a></li>
          
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h6 class="fw-bold mb-3">INFORMATION</h6>

        <p class="mb-2">
          <i class="bi bi-telephone me-2"></i> Call Us: 9037432518
        </p>
        <p class="mb-2">
          <i class="bi bi-geo-alt me-2"></i> Address: Calicut
        </p>
        <p class="mb-3">
          <i class="bi bi-envelope me-2"></i> ecommerce@gmail.com
        </p>
      </div>

    </div>
  </div>
</footer>