<app-navbar></app-navbar>

<section class="py-5 bg-light">
  <div class="container">
    <h2 class="text-start mb-5 fw-bold text-primary border-bottom">{{category | uppercase}} SECTION</h2>
    <div class="row g-4 justify-content-start">
      @for (p of products; track p.id) {
      <div class="col-6 col-md-4 col-lg-3 category-card">
        <div class="card border-0 shadow-sm h-100 text-center ">
          <div class="card-body border" (click)="goToProduct(p)">
            <span class="badge bg-danger d-flex justify-content-start" style="margin-right: 195px;">{{p.discount}}% OFF</span>
            <div
              class=" bg-white bg-opacity-10 text-primary d-flex align-items-center justify-content-center mx-auto mb-3"
              style="width:150px; height:150px;">
              <img [src]="p.image" alt="{{ p.title }}" class="img-fluid" style="max-height:150px; max-width:150px;" />
            </div>
            <h5 class="fw-semibold text-dark text-capitalize">{{ p.name }}</h5>
            <span class="fw-semiold text-dark">{{p.brand}}</span>
          </div>
          <div class="card-footer bg-white border-0 d-flex justify-content-start align-items-center gap-3">
            <h5 class="fw-bold text-primary" style="margin-top: 8px;">{{ p.price | currency}}</h5>
            <span class=" text-muted"><del>{{ p.price + (p.price * p.discount / 100) | currency}}</del></span>
          </div>
          @if (!p.added) {
            <div class="my-3 mx-3">
          <button class="btn btn-primary w-100 " (click)="addToCart(p)"><i class="bi bi-cart-plus"></i> Add to Cart</button>
          </div>
          } @else {
            <div class="my-3 mx-3">
          <button class="btn btn-success w-100" disabled><i class="bi bi-cart-check"></i> Already Added</button>
          </div>
          }
        </div>
      </div>
      }
      @empty {
      <div class="spinner-border text-primary"></div>
      }
    </div>
  </div>
</section>

<app-footer></app-footer>